{{!-- List all data key-value pairs in hidden input elements to allow value extraction --}}
{{#each data}}
<input type="hidden" name="{{@key}}" value="{{this}}" id="input-{{@key}}">
{{/each}}

<div>
    {{> labelHint}}
    <div class=" btn-group-vertical" style="display:block; padding:5px">
        {{#each choices}}
        {{!-- use ../data to access main data object available to full template --}}
        <div style="display: flex; align-items:center; margin-bottom:8px">
            <input type="checkbox" class="section-mark-complete" style="margin:0 8px; width:44px; height:34px;" disabled
                data-section="{{data_value}}">
            {{!-- adapted from user_branch template --}}
            <a href="#" style="flex:1" class="branch-select-item launch btn btn-default" tabindex="0"
                label="{{data_value}}" style="padding:10px">
                {{#ifHasTextLocalization display.title}}<h4 style="font-weight:bold;text-align:left">
                    {{{localizeText display.title}}} <span class="glyphicon glyphicon-chevron-right"
                        style="float:right"></span>
                </h4>{{/ifHasTextLocalization}}
            </a>

        </div>
        {{/each}}
    </div>
</div>
<script>
    $('input:checkbox').each(function (i, el) {
        const section = $(el).data('section');
        const inputElName = section + '_complete';
        const inputEl = $('#input-' + inputElName);
        const sectionComplete = inputEl.val() == 'true';
        $(el).prop('checked', sectionComplete);
        if ($(el).prop('checked')) {
          $(el).prop('disabled', false);
          $(el).css('cursor', 'not-allowed');
          $(el).siblings().css({
            'color': 'green',
            'border': 'green solid 2px'
          });
        } else {
          $(el).prop('disabled', true);
          $(el).siblings().css({
            'color': 'black',
            'border': 'red solid 1px'
          });
        }        
    });

    $('input[class="section-mark-complete"]').click(function (e) {
        e.preventDefault();
        e.stopPropagation();
    });
</script>