<div id="container-{{promptId}}">
    <form action="javascript:void(0);" onsubmit="odkLeaveField(this);">
        <div class="form-group">
            <label for="slider-{{promptId}}">{{> labelHint}}</label>
            <div class="input-container">{{! used to prevent swiping on sliders}}
                <input id="slider-{{promptId}}" class="form-control" name="{{name}}" value="{{value}}" tabindex="0"
                    {{#eachProperty inputAttributes}} {{property}}="{{value}}" {{/eachProperty}} {{#if disabled}}
                    style="background-color:lightgray;" disabled="true" {{/if}}>
                {{#if isSlider}}
                {{#unless disabled}}
                <div class="value-box" id="value-{{promptId}}" style="width:{{boxWidth}}px">{{value}}</div>
                {{/unless}}
                {{/if}}
                {{#if inputAttributes.showIDK}}
                <button id="idk-{{promptId}}" style="width:200px; margin-left:16px">Do Not Know</button>
                {{/if}}
            </div>
        </div>
    </form>
</div>
<script>
    var $ = window.$
    var inputEl = document.getElementById('slider-{{promptId}}')
    function addIDKButton() {
        // used to specify -99 when respondent specifies 'I Don't Know'
        var idkButton = $("#idk-{{promptId}}")
        if (idkButton.length === 1) {
            idkButton.click(function () {
                var inputEl = document.getElementById('slider-{{promptId}}')
                inputEl.value = -99
                $("#slider-{{promptId}}").trigger('change')
            })
        }
    }
    addIDKButton()
</script>