<div id="container-{{promptId}}">
    <form action="javascript:void(0);" onsubmit="odkLeaveField(this);">
        <div class="form-group">
            <label for="slider-{{promptId}}">{{> labelHint}}</label>
            <div class="input-container">{{! used to prevent swiping on sliders}}
                <input id="slider-{{promptId}}" class="form-control" name="{{name}}" value="{{value}}" tabindex="0"
                    {{#eachProperty inputAttributes}} {{property}}="{{value}}" {{/eachProperty}} {{#if disabled}}
                    style="background-color:lightgray;" disabled="true" {{/if}}>
                {{#if isSlider}}
                {{!-- {{#unless disabled}}
                <div class="value-box" id="value-{{promptId}}" style="width:{{boxWidth}}px">{{value}}</div>
                {{/unless}} --}}
                {{/if}}
                {{#if inputAttributes.showIDK}}
                <input type="checkbox" id="idk-{{promptId}}" name="{{name}}" value="{{value}}"
                    style="margin:0 8px; width:44px; height:34px;">
                <label for="idk-{{promptId}}" style="width:100px">Do Not Know</label>
                {{/if}}
            </div>
        </div>
    </form>

</div>



<script>
    // Used to handle toggle of a 'Do not know' checkbox and automatically assign default value (-99) when checked
    function handleIDKCheckbox() {
        // set default checkbox state
        if ("{{value}}" == "-99") {
            $("#idk-{{promptId}}").prop('checked', true);
            $("#slider-{{promptId}}").prop('disabled', true);
        }
        // handle checkbox click by setting input value to -99 or "" if checked or not
        $('#idk-{{promptId}}').click(function (e) {
            // prevent default change handler assigned by odk propagating checkbox value to data
            e.stopPropagation()
            // toggle checkbox state and set associated values
            let isChecked = $("#idk-{{promptId}}").prop("checked");
            const targetValue = isChecked ? "-99" : ""
            $("#idk-{{promptId}}").prop("checked", isChecked);
            $("#idk-{{promptId}}").val(targetValue);
            $("#slider-{{promptId}}").val(targetValue);
            $("#slider-{{promptId}}").prop('disabled', isChecked);
            $("#slider-{{promptId}}").trigger('change')
        });
    }
    handleIDKCheckbox()
</script>
